body{
    background: #faf8ef;
    font-family: 'Arial';
}

#matrix-container {
    display: block;
    width: 600px;
    height: 614px;
    background: #bbada0;
    border-radius: 12px;
    margin: 8% auto;
}

#matrix-container > div {
    position: relative;
    margin: 16px 0px 0px 16px;
    display: inline-block;
    height: 130px;
    width: 130px;
    background: rgba(238, 228, 218, 0.35);;
    border-radius: 8px;
    overflow: hidden;
} 

.p2, .p4, .p8, .p16, .p32, .p64, .p128 {
    position: absolute;
    display: inline-block;
    text-align: center;
    /*height: 130px;*/
    /*width: 130px;*/
    color: #776e65; 
    font: bold 86px 'Poppins', sans-serif;
    /*padding-left: 40px;*/
    font-size: 0px;
}
